@import "../variables";

.equipments {
  border: $level-one-boxes-border;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;

  font-size: 1.3rem;

  div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 2px;

    div {
      width: 50px;
      img {
        width: 40px;
      }
    }
    span {
      margin-left: 8px;
    }
  }
}
