@import "../variables";

.skills {
  border: $level-one-boxes-border;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  display: flex;
  flex-direction: row;

  div {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
