@import "../variables";

.team-info {
  border-radius: 3px;
  border-style: solid;
  padding: 5px;
  font-size: 1.125rem;

  max-width: 13rem;
  width: 35vw;

  span {
    display: block;
    padding-bottom: 4px;
    line-height: 1.2;
    text-align: left;
  }
}

.team-info-color-red {
  background-color: $red-team-background-color;
}

.team-info-color-blue {
  background-color: $blue-team-background-color;
}

.team-info-color-black {
  background-color: $black-team-background-color;
}

.team-info-color-white {
  background-color: $white-team-background-color;
}

.team-info-border-winner {
  border: $winner-border;
}

.team-info-border-loser {
  border: $loser-border;
}

.team-info-border-not-played {
  border: 0px solid transparent;
}

@media screen and (min-width: 760px) {
  .team-info {
    max-width: 20rem;
    width: 35vw;
  }
}

@media screen and (min-width: 1200px) {
  .team-info {
    max-width: 14rem;
    width: 15vw;
  }
}
