@media screen and (min-width: 1200px) {
  .tournament-brackets {
    flex-direction: row !important;
    justify-content: center;
    align-items: default;
    justify-content: space-evenly;
  }

  .brackets-section {
    height: 1100px;

    .matches {
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

.tournament-brackets {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: default;
  align-items: center;

  .brackets-section {
    margin: 10px;
  }
}
